.addProject {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  Header {
    margin-bottom: 15rem;
    position: relative;
  }

  Footer {
    margin-top: 15rem;
  }
  
}
