.btnCv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
  button {
    cursor: pointer;
    border: none;
    background: none;
  }
  a{
    text-decoration: underline ;
    color: #131114;
  }
}
