@import "../index.scss";
@media (max-width: 575.98px){
    .custom-shape-divider-top-1725370140 {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }
    
    .custom-shape-divider-top-1725370140 svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 100px;
    }
    
    .custom-shape-divider-top-1725370140 .shape-fill {
        fill: $color3;
    }

}
@media (min-width: 576px){
    .custom-shape-divider-top-1725370140 {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }
    
    .custom-shape-divider-top-1725370140 svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 200px;
    }
    
    .custom-shape-divider-top-1725370140 .shape-fill {
        fill: $color3;
    }
}