@import "../index.scss";
@media (max-width: 575.98px){
    .custom-shape-divider-top-1725366078 {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }
    
    .custom-shape-divider-top-1725366078 svg {
        position: relative;
        display: block;
        width: calc(130% + 1.3px);
        height: 100px;
    }
    
    .custom-shape-divider-top-1725366078 .shape-fill {
        fill: $color3;
    }
}
@media (min-width: 576px){
    .custom-shape-divider-top-1725366078 {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }
    
    .custom-shape-divider-top-1725366078 svg {
        position: relative;
        display: block;
        width: calc(130% + 1.3px);
        height: 150px;
    }
    
    .custom-shape-divider-top-1725366078 .shape-fill {
        fill: $color3;
    }
}
@media (min-width: 768px){
    .custom-shape-divider-top-1725366078 {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }
    
    .custom-shape-divider-top-1725366078 svg {
        position: relative;
        display: block;
        width: calc(130% + 1.3px);
        height: 200px;
    }
    
    .custom-shape-divider-top-1725366078 .shape-fill {
        fill: $color3;
    }
}