@import "../index.scss";
.filterContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.5rem;
  gap: 1rem;
  button {
    cursor: pointer;
    padding: 0.5rem;
    background-color: $color2;
    border: 3px solid $color4;
    border-radius: 10px;
    color: $color4;
    font-size: 1.4rem;
    font-family: "cuprum";
        box-shadow: 2px 2px 0px 2px $color2;
  }
  button:hover {
    background-color: $color1;
    color: $color4;
  }
  button.active {
    background-color: $color1;
    color: $color4;
  }
}
