@import "../index.scss";
/* Extra small devices (phones, <576px) */
@media (max-width: 575.98px) {
  .footer {
    font-weight: bold;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: $color1;
    &__link {
      list-style: none;
      .footerLink {
        font-size: 1rem;
        text-align: center;
        color: $color4;
        text-decoration: none;
        font-family: "cuprum";
      }
      
    }
    &__info {
      color: $color4;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: "cuprum";
      .noneMobile {
        display: none;
      }
      .btnSign {
        display: none;
      }
    }
  }
}

/* Small devices (landscape phones, ≥576px) */
@media (min-width: 576px) {
  .footer {
    font-weight: bold;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: $color1;
    &__link {
      list-style: none;
      .footerLink {
        font-size: 1.25rem;
        text-align: center;
        color: $color4;
        text-decoration: none;
        font-family: "cuprum";
      }
      
    }
    &__info {
      color: $color4;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: "cuprum";
      .noneMobile {
        display: none;
      }
      .btnSign {
        display: none;
      }
    }
  }
}

/* Medium devices (tablets, ≥768px) */
@media (min-width: 768px) {
  .footer {
    &__ink {
      font-size: 1.4rem;
      text-align: center;
      color: $color4;
      text-decoration: none;
      font-family: "cuprum";
      .noneMobile {
        display: none;
        font-size: 1.1rem;
        text-align: start;
        color: $color4;
        text-decoration: none;
        font-family: "cuprum";
      }
    }
    &____info {
      text-align: center;
      width: 100%;
    }
  }
}

/* Large devices (desktops, ≥992px) */
@media (min-width: 992px) {
  .footer {
    align-items: start;
    &__link {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 100%;
      .footerLink {
        font-size: 1.4rem;
        text-align: start;
        color: $color4;
        text-decoration: none;
        font-family: "cuprum";
      }
      .contactContain {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
      }
      
      .footerLink:hover {
        color: $color2;
      }
    }
    &__info {
      text-align: start;
      width: 100%;
      font-size: 1.1rem;
      .noneMobile {
        display: inline;
        font-size: 1.1rem;
        text-align: start;
        color: $color4;
        text-decoration: none;
        font-family: "cuprum";
      }
      a {
        text-decoration: none;
        color: $color4;
      }
    }
  }
}

/* Extra large devices (large desktops, ≥1200px) */
@media (min-width: 1200px) {
}

@media (min-width: 1440px) {
}
