@import "./Global.scss";
header {
  position: relative;
}
.form-sign-container {
  max-width: 400px;
  margin: 5rem auto 12rem auto;
  padding: 2rem;
  border: 1px solid $text-blue;
  border-radius: 5px;
  background-color: $backgrd;
  box-shadow: 0px 0px 20px 10px $text-blue;
  .form-sign {
    display: flex;
    flex-direction: column;
    &__input-group {
      margin-bottom: 1rem;
      font-family: $font-second;
      font-size: 1.75rem;
      label {
        display: block;
        margin-bottom: 0.5rem;
        color: $text-white;
        text-decoration: underline $text-blue;
      }
      input {
        width: 100%;
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
    }
    &__login-btn,
    &__signup-btn {
      padding: 0.75rem;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      background-color: #007bff;
      color: $backgrd;
      font-weight: bold;
      font-size: 1.2rem;
    }

    &__signup-btn {
      background-color: #28a745;
      margin-top: 1rem;
    }

    &__login-btn:hover,
    &__signup-btn:hover {
      opacity: 0.9;
    }
  }
}
