@import url("https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
  font-family: "Luciole";
  src: url("../assets/fonts/Luciole-Regular/Luciole-Regular.eot"); /* IE9 Compat Modes */
  src: url("../assets/fonts/Luciole-Regular/Luciole-Regular.eot")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../assets/fonts/Luciole-Regular/Luciole-Regular.woff")
      format("woff"),
    /* Modern Browsers */
      url("../assets/fonts/Luciole-Regular/Luciole-Regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../assets/fonts//Luciole-Regular/Luciole-Regular.svg") format("svg"); /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@mixin main-title {
  font-family: $font-second;
  font-size: 3rem;
  padding-top: 2.8rem;
  padding-bottom: 1rem;
  color: $text-white;
  text-decoration: underline solid $text-blue;
}
@mixin div-label-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

$text-white: #fff;
$text-blue: #00c0ff;
$font-first: "Montserrat", sans-serif;
$font-second: "Cuprum", sans-serif;
$font-access: "Luciole";
$backgrd: #050f0f;
$cursortheme: default;
$height-input: 2rem;
$font-size-placeholder: 1rem;
$padding-top-link: 6.2rem;