@import "../index.scss";
/* Extra small devices (phones, <576px) */
@media (max-width: 575.98px) {
  header {
    position: sticky;
    z-index: 1;
    top: 0;
    display: flex;
    flex-direction: column;
    background-color: $color35;
    padding-top: 0.5rem;
    .logo-header {
      font-family: "Montserrat";
      text-align: center;
      a {
        text-decoration: none;
      }
      h1 {
        color: #e8eacc;
        font-size: 1.5rem;
        font-weight: bold;
      }
      p {
        font-size: 1rem;
        color: #8c9c7c;
      }
    }
  }
}

/* Small devices (landscape phones, ≥576px) */
@media (min-width: 576px) {
  header {
    position: sticky;
    z-index: 1;
    top: 0;
    display: flex;
    flex-direction: column;
    background-color: $color35;
    padding-top: 0.5rem;
    .logo-header {
      font-family: "Montserrat";
      text-align: center;
      a {
        text-decoration: none;
      }
      h1 {
        color: #e8eacc;
        font-size: 2rem;
        font-weight: bold;
      }
      p {
        font-size: 1.25rem;
        color: #8c9c7c;
      }
    }
  }
}

/* Large devices (desktops, ≥992px) */
@media (min-width: 992px) {
  header {
    position: sticky;
    z-index: 1;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    background-color: $color35;
    padding: 0.5rem 1rem;
    .logo-header {
      font-family: "Montserrat";
      text-align: center;
      a {
        text-decoration: none;
      }
      h1 {
        font-size: 2.3rem;
        font-weight: bold;
      }
      p {
        font-size: 1.5rem;
        color: #8c9c7c;
      }
    }
  }
}

/* Extra large devices (large desktops, ≥1200px) */
@media (min-width: 1200px) {
  
}
