/* Extra small devices (phones, <576px) */
@media (max-width: 575.98px) {
  main {
    font-family: "Montserrat";
    display: flex;
    flex-direction: column;
    gap: 4rem;
    text-align: center;
    background-color: #232826;
    .sectionIntro {
      background-color: #232826;
      padding-bottom: 5rem;
      .containericonIntro {
        padding-top: 2rem;
        display: flex;
        justify-content: center;
        gap: 2rem;
      }
      .pIntro,
      .iconIntro {
        padding: 1rem;
        color: #e8eacc;
        text-align: center;
        font-size: 1.2rem;
      }
      .iconIntro {
        font-size: 1.7rem;
      }
      a {
        text-decoration: none;
        span {
          text-wrap: nowrap;
          font-weight: bold;
          font-family: "cuprum";
          font-size: 1.3rem;
          color: #232826;
          border: 1px solid #e8eacc;
          border-radius: 5px;
          padding: 0 0.5rem;
          background-color: #8c9c7c;
        }
      }
    }
    .aboutTitle {
      color: #232826;
      padding-bottom: 1rem;
    }
    .sectionInfo {
      padding: 6rem 0.5rem 1rem 0.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      background-color: #e8eacc;
      .sectionInfoContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        color: #131114;
        .containerTitlePBtn{
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 1rem;
        }
        .imgInfo {
          width: 15rem;
          height: 15rem;
          order: -1;
        }
      }
    }
    .sectionProject {
      .projectTitle {
        color: #e8eacc;
      }
      padding: 6rem 0.5rem 0 0.5rem;
      background-color: #232826;
      color: #e8eacc;
    }
    .sectionSkills {
      background-color: #8c9c7c;
      padding: 6rem 0.5rem 3rem 0.5rem;
      .skillsTitle {
        color: #232826;
      }
    }
    .sectionContact {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      background-color: #232826;
      padding: 3rem 0.5rem;
      .contactTitle {
        color: #8c9c7c;
        margin-bottom: 2rem;
      }
      p {
        color: #8c9c7c;
      }
      a {
        .iconA {
          position: relative;
          color: #e8eacc;
          font-size: 2rem;
          top: 1rem;
          animation: bounce 2s infinite ease-in-out;
          animation-delay: 1s;
        }
        @keyframes bounce {
          0%,
          100% {
            transform: translateY(0px);
          }
          50% {
            transform: translateY(-40px);
          }
        }
      }
    }
  }
}

/* Small devices (landscape phones, ≥576px) */
@media (min-width: 576px) {
  main {
    font-family: "Montserrat";
    display: flex;
    flex-direction: column;
    gap: 4rem;
    text-align: center;
    background-color: #232826;
    .sectionIntro {
      background-color: #232826;
      padding-bottom: 5rem;
      .containericonIntro {
        padding-top: 2rem;
        display: flex;
        justify-content: center;
        gap: 2rem;
      }
      .pIntro,
      .iconIntro {
        padding: 1rem;
        color: #e8eacc;
        text-align: center;
        font-size: 1.5rem;
      }
      .iconIntro {
        font-size: 2rem;
      }
      a {
        text-decoration: none;
        span {
          text-wrap: nowrap;
          font-weight: bold;
          font-family: "cuprum";
          font-size: 1.4rem;
          color: #232826;
          border: 1px solid #e8eacc;
          border-radius: 5px;
          padding: 0 0.5rem;
          background-color: #8c9c7c;
        }
      }
    }
    .aboutTitle {
      color: #232826;
      font-size: 1.8rem;
      padding-bottom: 1rem;
    }
    .sectionInfo {
      padding: 8rem 1rem 1rem 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      background-color: #e8eacc;
      .sectionInfoContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        color: #131114;
        .containerTitlePBtn{
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 1rem;
        }
        .imgInfo {
          width: 20rem;
          height: 20rem;
          order: -1;
        }
        .pInfo {
          font-size: 1.2rem;
        }
      }
    }
    .sectionProject {
      .projectTitle {
        color: #e8eacc;
        font-size: 2rem;
      }
      padding: 8rem 0.5rem 0 0.5rem;
      background-color: #232826;
      color: #e8eacc;
    }
    .sectionSkills {
      background-color: #8c9c7c;
      padding: 8rem 0.5rem 3rem 0.5rem;
      .skillsTitle {
        color: #232826;
        font-size: 2rem;
      }
    }
    .sectionContact {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      background-color: #232826;
      padding: 8rem 2rem 6rem 2rem;
      .contactTitle {
        color: #8c9c7c;
        margin-bottom: 2rem;
      }
      p {
        color: #8c9c7c;
      }
      a {
        .iconA {
          position: relative;
          color: #e8eacc;
          font-size: 2rem;
          top: 1rem;
          animation: bounce 2s infinite ease-in-out;
          animation-delay: 1s;
        }
        @keyframes bounce {
          0%,
          100% {
            transform: translateY(0px);
          }
          50% {
            transform: translateY(-40px);
          }
        }
      }
    }
  }
}

/* Medium devices (tablets, ≥768px) */
@media (min-width: 768px) {
  main {
    font-family: "Montserrat";
    display: flex;
    flex-direction: column;
    gap: 4rem;
    text-align: center;
    background-color: #232826;
    .sectionIntro {
      background-color: #232826;
      padding-bottom: 5rem;
      .containericonIntro {
        padding-top: 2rem;
        display: flex;
        justify-content: center;
        gap: 2rem;
      }
      .pIntro,
      .iconIntro {
        padding: 1rem;
        color: #e8eacc;
        text-align: center;
        font-size: 1.5rem;
      }
      .iconIntro {
        font-size: 2rem;
      }
      a {
        text-decoration: none;
        span {
          text-wrap: nowrap;
          font-weight: bold;
          font-family: "cuprum";
          font-size: 1.4rem;
          color: #232826;
          border: 1px solid #e8eacc;
          border-radius: 5px;
          padding: 0 0.5rem;
          background-color: #8c9c7c;
        }
      }
    }
    .aboutTitle {
      color: #232826;
      font-size: 1.8rem;
      padding-bottom: 1rem;
    }
    .sectionInfo {
      padding: 8rem 1rem 1rem 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      background-color: #e8eacc;
      .sectionInfoContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        color: #131114;
        .imgInfo {
          width: 20rem;
          height: 20rem;
        }
        .pInfo {
          font-size: 1.2rem;
        }
      }
    }
    .sectionProject {
      .projectTitle {
        color: #e8eacc;
        font-size: 2rem;
      }
      padding: 8rem 0.5rem 0 0.5rem;
      background-color: #232826;
      color: #e8eacc;
    }
    .sectionSkills {
      background-color: #8c9c7c;
      padding: 8rem 0.5rem 3rem 0.5rem;
      .skillsTitle {
        color: #232826;
        font-size: 2rem;
      }
    }
    .sectionContact {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      background-color: #232826;
      padding: 8rem 6rem 6rem 6rem;
      label {
        font-size: 1.5rem;
      }
      .contactTitle {
        color: #8c9c7c;
        margin-bottom: 2rem;
        font-size: 2rem;
      }
      p {
        color: #8c9c7c;
      }
      a {
        .iconA {
          position: relative;
          color: #e8eacc;
          font-size: 2rem;
          top: 1rem;
          animation: bounce 2s infinite ease-in-out;
          animation-delay: 1s;
        }
        @keyframes bounce {
          0%,
          100% {
            transform: translateY(0px);
          }
          50% {
            transform: translateY(-40px);
          }
        }
      }
    }
  }
}

/* Large devices (desktops, ≥992px) */
@media (min-width: 992px) {
  main {
    font-family: "Montserrat";
    display: flex;
    flex-direction: column;
    gap: 4rem;
    text-align: center;
    background-color: #232826;
    .sectionIntro {
      background-color: #232826;
      padding-bottom: 5rem;
      .containericonIntro {
        padding-top: 2rem;
        display: flex;
        justify-content: center;
        gap: 2rem;
      }
      .pIntro,
      .iconIntro {
        padding: 1rem;
        color: #e8eacc;
        text-align: center;
        font-size: 1.5rem;
      }
      .iconIntro {
        font-size: 2rem;
      }
      a {
        text-decoration: none;
        span {
          text-wrap: nowrap;
          font-weight: bold;
          font-family: "cuprum";
          font-size: 1.4rem;
          color: #232826;
          border: 1px solid #e8eacc;
          border-radius: 5px;
          padding: 0 0.5rem;
          background-color: #8c9c7c;
        }
      }
    }
    .aboutTitle {
      color: #232826;
      font-size: 2rem;
      padding-bottom: 1rem;
    }
    .sectionInfo {
      padding: 8rem 1rem 1rem 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      background-color: #e8eacc;
      .sectionInfoContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        color: #131114;
        .imgInfo {
          width: 20rem;
          height: 20rem;
        }
        .pInfo {
          font-size: 1.2rem;
        }
      }
    }
    .sectionProject {
      .projectTitle {
        color: #e8eacc;
        font-size: 2rem;
      }
      padding: 8rem 0.5rem 0 0.5rem;
      background-color: #232826;
      color: #e8eacc;
    }
    .sectionSkills {
      background-color: #8c9c7c;
      padding: 8rem 0.5rem 3rem 0.5rem;
      .skillsTitle {
        color: #232826;
        font-size: 2rem;
      }
    }
    .sectionContact {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      background-color: #232826;
      padding: 8rem 16rem 6rem 16rem;
      label {
        font-size: 1.5rem;
      }
      .contactTitle {
        color: #8c9c7c;
        margin-bottom: 2rem;
        font-size: 2rem;
      }
      p {
        color: #8c9c7c;
      }
      a {
        .iconA {
          position: relative;
          color: #e8eacc;
          font-size: 2rem;
          top: 1rem;
          animation: bounce 2s infinite ease-in-out;
          animation-delay: 1s;
        }
        @keyframes bounce {
          0%,
          100% {
            transform: translateY(0px);
          }
          50% {
            transform: translateY(-40px);
          }
        }
      }
    }
  }
}

/* Extra large devices (large desktops, ≥1200px) */
@media (min-width: 1200px) {
}

@media (min-width: 1440px) {
  main {
    font-family: "Montserrat";
    display: flex;
    flex-direction: column;
    gap: 4rem;
    text-align: center;
    background-color: #232826;
    .sectionIntro {
      background-color: #232826;
      padding-bottom: 5rem;
      .containericonIntro {
        padding-top: 2rem;
        display: flex;
        justify-content: center;
        gap: 2rem;
      }
      .pIntro,
      .iconIntro {
        padding: 1rem;
        color: #e8eacc;
        text-align: center;
        font-size: 1.8rem;
      }
      .iconIntro {
        font-size: 2.2rem;
      }
      a {
        text-decoration: none;
        span {
          text-wrap: nowrap;
          font-weight: bold;
          font-family: "cuprum";
          font-size: 1.8rem;
          color: #232826;
          border: 1px solid #e8eacc;
          border-radius: 5px;
          padding: 0 0.5rem;
          background-color: #8c9c7c;
        }
      }
    }
    .aboutTitle {
      color: #232826;
      font-size: 2.5rem;
      padding-bottom: 1rem;
    }
    .sectionInfo {
      padding: 8rem 1rem 1rem 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      background-color: #e8eacc;
      .containerBulle{
        .btnContact{
          width: 15rem;
          font-size: 1.5rem;
          &__icon{
            font-size: 2rem;
          }
        }
      }
      .btnCv{
        font-size: 1.5rem;
        button{
          font-size: 1.1rem;
        }
      }
      .sectionInfoContent {
        display: flex;
        flex-direction: row;
        gap: 5rem;
        color: #131114;
        .imgInfo {
          width: 25rem;
          height: 25rem;
          order: 1;
        }
        .pInfo {
          font-size: 1.2rem;
          max-width: 50rem;
        }
        .containerTitlePBtn{
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 1rem;
        }
      }
    }
    .sectionProject {
      .projectTitle {
        color: #e8eacc;
        font-size: 2.5rem;
      }
      padding: 8rem 0.5rem 0 0.5rem;
      background-color: #232826;
      color: #e8eacc;
    }
    .sectionSkills {
      background-color: #8c9c7c;
      padding: 8rem 0.5rem 3rem 0.5rem;
      .skillsTitle {
        color: #232826;
        font-size: 2.5rem;
      }
    }
    .sectionContact {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      background-color: #232826;
      padding: 8rem 25rem 6rem 25rem;
    

      .contactTitle {
        color: #8c9c7c;
        margin-bottom: 2rem;
        font-size: 2.5rem;
      }
      p {
        color: #8c9c7c;
      }
      a {
        .iconA {
          position: relative;
          color: #e8eacc;
          font-size: 2rem;
          top: 1rem;
          animation: bounce 2s infinite ease-in-out;
          animation-delay: 1s;
        }
        @keyframes bounce {
          0%,
          100% {
            transform: translateY(0px);
          }
          50% {
            transform: translateY(-40px);
          }
        }
      }
    }
  }
}
