@import "../index.scss";
/* Extra small devices (phones, <576px) */
@media (max-width: 575.98px) {
  main {
    font-family: "Montserrat";
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: $color3;
    .sectionIntro {
      background-color: $color3;
      padding-bottom: 5rem;
      .pIntro,
      .iconIntro {
        padding: 1rem;
        color: $color1;
        text-align: center;
        font-size: 1.2rem;
      }
      .iconIntro {
        font-size: 1.7rem;
      }
      a {
        text-decoration: none;
        span {
          text-wrap: nowrap;
          font-weight: bold;
          font-family: "cuprum";
          font-size: 1.3rem;
          color: $color3;
          border: 1px solid $color1;
          border-radius: 5px;
          padding: 0 0.5rem;
          background-color: $color2;
        }
      }
    }
    .aboutTitle {
      color: #232826;
      padding-bottom: 1rem;
    }
    .sectionInfo {
      padding-bottom: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      background-color: $color1;
      .sectionInfoContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        color: $color4;
        .containerTitlePBtn {
          padding: 0 0.5rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 1rem;
        }
        .imgInfo {
          width: 15rem;
          height: 15rem;
          order: -1;
        }
      }
    }
    .sectionProject {
      background-color: $color3;
      color: $color1;
      .projectTitle {
        padding: 2rem 0 2rem 0;
        color: $color1;
      }
    }
    .sectionSkills {
      background-color: $color2;
      .skillsTitle {
        padding-bottom: 2rem;
        color: $color3;
      }
    }
    .sectionTarif{
      padding: 5rem 0.5rem 0 0.5rem;
      .tarifTitle {
        color: $color2;
        margin: 3rem 0;
      }
      #ecoP{
        margin-bottom: 1.5rem;
        font-weight: bold;
        color: rgb(146, 194, 146);
      }
    }
    
    .sectionContact {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      background-color: $color3;
      padding: 3rem 0.5rem;
      .contactTitle {
        color: $color1;
        margin-top: 3rem;
      }
      p {
        color: $color2;
      }
      a {
        .iconA {
          position: relative;
          color: $color1;
          font-size: 2rem;
          top: 1rem;
          animation: bounce 2s infinite ease-in-out;
          animation-delay: 1s;
        }
        @keyframes bounce {
          0%,
          100% {
            transform: translateY(0px);
          }
          50% {
            transform: translateY(-40px);
          }
        }
      }
    }
  }
}

/* Small devices (landscape phones, ≥576px) */
@media (min-width: 576px) {
  main {
    font-family: "Montserrat";
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: $color3;
    .sectionIntro {
      background-color: $color3;
      padding-bottom: 5rem;
      .pIntro,
      .iconIntro {
        padding: 1rem;
        color: $color1;
        text-align: center;
        font-size: 1.5rem;
      }
      .iconIntro {
        font-size: 2rem;
      }
      a {
        text-decoration: none;
        span {
          text-wrap: nowrap;
          font-weight: bold;
          font-family: "cuprum";
          font-size: 1.4rem;
          color: $color3;
          border: 1px solid $color1;
          border-radius: 5px;
          padding: 0 0.5rem;
          background-color: $color2;
        }
      }
    }
    .aboutTitle {
      color: $color3;
      font-size: 1.8rem;
      padding-bottom: 1rem;
    }
    .sectionInfo {
      padding-bottom: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      background-color: $color1;
      .sectionInfoContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        color: $color4;
        .containerTitlePBtn {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 1rem;
          padding: 0 1rem;
        }
        .imgInfo {
          width: 20rem;
          height: 20rem;
          order: -1;
        }
        .pInfo {
          font-size: 1.2rem;
        }
      }
    }
    .sectionProject {
      background-color: $color3;
      color: $color1;
      .projectTitle {
        color: $color1;
        font-size: 2rem;
        padding: 4rem 0 2rem 0;
      }
    }
    .sectionSkills {
      background-color: $color2;
      .skillsTitle {
        color: $color3;
        font-size: 2rem;
        padding-bottom: 2rem;
      }
    }
    .sectionTarif{
      padding: 5rem 0.5rem 0 0.5rem;
      .tarifTitle {
        color: $color2;
        margin: 3rem 0;
        font-size: 2rem;
      }
      #ecoP{
        margin-bottom: 1.5rem;
        font-weight: bold;
        color: rgb(146, 194, 146);
      }
    }
    .sectionContact {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      background-color: $color3;
      padding: 8rem 2rem 6rem 2rem;
      .contactTitle {
        color: $color1;
        margin-bottom: 2rem;
      }
      p {
        color: #8c9c7c;
      }
      a {
        .iconA {
          position: relative;
          color: $color1;
          font-size: 2rem;
          top: 1rem;
          animation: bounce 2s infinite ease-in-out;
          animation-delay: 1s;
        }
        @keyframes bounce {
          0%,
          100% {
            transform: translateY(0px);
          }
          50% {
            transform: translateY(-40px);
          }
        }
      }
    }
  }
}

/* Medium devices (tablets, ≥768px) */
@media (min-width: 768px) {
  main {
    font-family: "Montserrat";
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: $color3;
    .sectionIntro {
      background-color: $color3;
      padding-bottom: 5rem;
      .pIntro,
      .iconIntro {
        padding: 1rem;
        color: $color1;
        text-align: center;
        font-size: 1.5rem;
      }
      .iconIntro {
        font-size: 2rem;
      }
      a {
        text-decoration: none;
        span {
          text-wrap: nowrap;
          font-weight: bold;
          font-family: "cuprum";
          font-size: 1.4rem;
          color: $color3;
          border: 1px solid $color1;
          border-radius: 5px;
          padding: 0 0.5rem;
          background-color: $color2;
        }
      }
    }
    .aboutTitle {
      color: $color3;
      font-size: 1.8rem;
      padding-bottom: 1rem;
    }
    .sectionInfo {
      padding-bottom: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      background-color: $color1;
      .sectionInfoContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        color: $color4;
        .imgInfo {
          width: 20rem;
          height: 20rem;
        }
        .pInfo {
          font-size: 1.2rem;
        }
      }
    }
    .sectionProject {
      background-color: $color3;
      color: $color1;
      .projectTitle {
        color: $color1;
        font-size: 2rem;
      }
    }
    .sectionSkills {
      background-color: $color2;
      .skillsTitle {
        color: $color3;
        font-size: 2rem;
      }
    }
    .sectionContact {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      background-color: $color3;
      padding: 8rem 6rem 6rem 6rem;
      label {
        font-size: 1.5rem;
      }
      .contactTitle {
        color: $color1;
        margin-bottom: 2rem;
        font-size: 2rem;
      }
      p {
        color: $color2;
      }
      a {
        .iconA {
          position: relative;
          color: $color1;
          font-size: 2rem;
          top: 1rem;
          animation: bounce 2s infinite ease-in-out;
          animation-delay: 1s;
        }
        @keyframes bounce {
          0%,
          100% {
            transform: translateY(0px);
          }
          50% {
            transform: translateY(-40px);
          }
        }
      }
    }
  }
}

/* Large devices (desktops, ≥992px) */
@media (min-width: 992px) {
  main {
    font-family: "Montserrat";
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: $color3;
    .sectionIntro {
      background-color: $color3;
      padding-bottom: 5rem;
      .pIntro,
      .iconIntro {
        padding: 1rem;
        color: $color1;
        text-align: center;
        font-size: 1.5rem;
      }
      .iconIntro {
        font-size: 2rem;
      }
      a {
        text-decoration: none;
        span {
          text-wrap: nowrap;
          font-weight: bold;
          font-family: "cuprum";
          font-size: 1.4rem;
          color: $color3;
          border: 1px solid $color1;
          border-radius: 5px;
          padding: 0 0.5rem;
          background-color: $color2;
        }
      }
    }
    .aboutTitle {
      color: $color3;
      font-size: 2rem;
      padding-bottom: 1rem;
    }
    .sectionInfo {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      background-color: $color1;
      .sectionInfoContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        color: $color4;
        .imgInfo {
          width: 20rem;
          height: 20rem;
        }
        .pInfo {
          font-size: 1.2rem;
        }
      }
    }
    .sectionProject {
      background-color: $color3;
      color: $color1;
      .projectTitle {
        color: $color1;
        font-size: 2rem;
      }
    }
    .sectionSkills {
      background-color: $color2;
      .skillsTitle {
        color: $color3;
        font-size: 2rem;
      }
    }
    .sectionTarif{
      #ecoP{
font-size: 1.5rem;
      }
    }
    .sectionContact {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      background-color: $color3;
      padding: 8rem 16rem 6rem 16rem;
      label {
        font-size: 1.5rem;
      }
      .contactTitle {
        color: $color1;
        margin-bottom: 2rem;
        font-size: 2rem;
      }
      p {
        color: $color2;
      }
      a {
        .iconA {
          position: relative;
          color: $color1;
          font-size: 2rem;
          top: 1rem;
          animation: bounce 2s infinite ease-in-out;
          animation-delay: 1s;
        }
        @keyframes bounce {
          0%,
          100% {
            transform: translateY(0px);
          }
          50% {
            transform: translateY(-40px);
          }
        }
      }
    }
  }
}

/* Extra large devices (large desktops, ≥1200px) */
@media (min-width: 1200px) {
}

@media (min-width: 1440px) {
  main {
    font-family: "Montserrat";
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: $color3;
    .sectionIntro {
      background-color: $color3;
      padding-bottom: 5rem;
      .pIntro,
      .iconIntro {
        padding: 1rem;
        color: $color1;
        text-align: center;
        font-size: 1.8rem;
      }
      .iconIntro {
        font-size: 2.2rem;
      }
      a {
        text-decoration: none;
        span {
          text-wrap: nowrap;
          font-weight: bold;
          font-family: "cuprum";
          font-size: 1.8rem;
          color: $color3;
          border: 1px solid $color1;
          border-radius: 5px;
          padding: 0 0.5rem;
          background-color: $color2;
        }
      }
    }
    .aboutTitle {
      color: $color3;
      font-size: 2.5rem;
      padding-bottom: 1rem;
    }
    .sectionInfo {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      background-color: $color1;
      .containerBulle {
        .btnContact {
          width: 15rem;
          font-size: 1.5rem;
          &__icon {
            font-size: 2rem;
          }
        }
      }
      .btnCv {
        font-size: 1.5rem;
        button {
          font-size: 1.1rem;
        }
      }
      .sectionInfoContent {
        display: flex;
        flex-direction: row;
        gap: 5rem;
        color: $color4;
        .imgInfo {
          width: 25rem;
          height: 25rem;
          order: 1;
        }
        .pInfo {
          font-size: 1.2rem;
          max-width: 50rem;
        }
        .containerTitlePBtn {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 1rem;
        }
      }
    }
    .sectionProject {
      background-color: $color3;
      color: $color1;
      .projectTitle {
        color: $color1;
        font-size: 2.5rem;
      }
    }
    .sectionSkills {
      background-color: $color2;
      .skillsTitle {
        color: $color3;
        font-size: 2.5rem;
      }
    }
    .sectionTarif{
      display: flex;
      flex-direction: column;
      align-items: center;
      .tarifTitle{
        font-size: 2.5rem;
      }
      #ecoP{
font-size: 2rem;
      }
    }
    .sectionContact {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      background-color: $color3;
      padding: 8rem 25rem 6rem 25rem;
      .contactTitle {
        color: $color1;
        margin-bottom: 2rem;
        font-size: 2.5rem;
      }
      p {
        color: $color2;
      }
      a {
        .iconA {
          position: relative;
          color: $color1;
          font-size: 2rem;
          top: 1rem;
          animation: bounce 2s infinite ease-in-out;
          animation-delay: 1s;
        }
        @keyframes bounce {
          0%,
          100% {
            transform: translateY(0px);
          }
          50% {
            transform: translateY(-40px);
          }
        }
      }
    }
  }
}
