@import "../index.scss";
.main404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8rem;
  margin: 6rem 0;
  h1 {
    font-size: 3rem;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  h2 {
    text-align: center;
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
}
