@import "../index.scss";
/* Extra small devices (phones, <576px) */
@media (max-width: 575.98px) {
  .containerCards {
    &__carousel {
      padding: 2rem 0.5rem 4rem 0.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5rem;
      .cards {
        width: 17rem;
        height: 24rem;
        perspective: 1000px;
        cursor: pointer;
        position: relative;
        &.flipped .cards__frontContent {
          transform: rotateY(180deg);
        }

        &.flipped .cards__backContent {
          transform: rotateY(0deg);
        }

        .frontContent,
        .backContent {
          border-radius: 10px;
          position: absolute;
          width: 100%;
          height: 100%;
          backface-visibility: hidden;
          transition: transform 0.6s;
        }

        .frontContent {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
          gap: 1rem;
          background-color: $color2;
          transform: rotateY(0deg);
          &__category {
            font-family: "cuprum";
            font-size: 1.1rem;
            text-decoration: underline;
            color: $color3;
          }
          &__Img {
            width: 16rem;
            height: 10rem;
            border-radius: 10px;
          }
          &__Title {
            color: $color3;
            font-size: 1.25rem;
          }
        }
        .backContent {
          background-color: $color1;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 0.25rem;
          transform: rotateY(-180deg);
          &__P {
            padding: 0.5rem 1rem;
            font-family: "cuprum";
            color: $color3;
            font-size: 0.9rem;
            white-space: pre-wrap;
            text-align: start;
          }
          .linkContain {
            padding: 0.5rem 0;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
          }
          &__linkGithub,
          &__linkProjet {
            font-weight: bold;
            font-style: italic;
            font-size: 0.8rem;
            color: $color3;
          }
          .cardsIconsContainerLink {
            .cardsIcons {
              width: 3rem;
              height: 3rem;
            }
          }
        }
      }
    }
  }
}

/* Small devices (landscape phones, ≥576px) */
@media (min-width: 576px) {
  .containerCards {
    &__carousel {
      padding: 2rem 0.5rem 4rem 0.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5rem;
      .cards {
        width: 30rem;
        height: 30rem;
        perspective: 1000px;
        cursor: pointer;
        position: relative;
        &.flipped .cards__frontContent {
          transform: rotateY(180deg);
        }

        &.flipped .cards__backContent {
          transform: rotateY(0deg);
        }

        .frontContent,
        .backContent {
          border-radius: 10px;
          position: absolute;
          width: 100%;
          height: 100%;
          backface-visibility: hidden;
          transition: transform 0.6s;
        }

        .frontContent {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
          gap: 1rem;
          background-color: $color2;
          transform: rotateY(0deg);
          &__category {
            font-family: "cuprum";
            font-size: 1.3rem;
            text-decoration: underline;
            color: $color3;
          }
          &__Img {
            width: 25rem;
            height: 19rem;
            border-radius: 10px;
          }
          &__Title {
            color: $color3;
            font-size: 1.5rem;
          }
        }
        .backContent {
          background-color: $color1;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 2rem;
          transform: rotateY(-180deg);
          &__P {
            padding: 0.5rem 1rem;
            font-family: "cuprum";
            color: $color3;
            font-size: 1.5rem;
            white-space: pre-wrap;
            text-align: start;
          }
          .linkContain {
            padding: 0.5rem 0;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
          }
          &__linkGithub,
          &__linkProjet {
            font-weight: bold;
            font-style: italic;
            font-size: 1.1rem;
            color: $color3;
          }
          .cardsIconsContainerLink {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            .iconContainer {
              display: flex;
              flex-direction: row;
              justify-content: center;
              gap: 1rem;
              .cardsIcons {
                width: 4rem;
                height: 4rem;
              }
            }
          }
        }
      }
    }
  }
}

/* Medium devices (tablets, ≥768px) */
@media (min-width: 768px) {
  .containerCards {
    &__carousel {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5rem;
      .cards {
        width: 40rem;
        height: 30rem;
        perspective: 1000px;
        cursor: pointer;
        position: relative;

        &.flipped .cards__frontContent {
          transform: rotateY(180deg);
        }

        &.flipped .cards__backContent {
          transform: rotateY(0deg);
        }

        .frontContent,
        .backContent {
          border-radius: 10px;
          border: 2px solid $color0;
          position: absolute;
          width: 100%;
          height: 100%;
          backface-visibility: hidden;
          transition: transform 0.6s;
        }

        .frontContent {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
          gap: 1rem;
          background-color: $color2;

          transform: rotateY(0deg);
          &__category {
            font-family: "cuprum";
            font-size: 1.3rem;
            text-decoration: underline;
            color: $color3;
          }
          &__Img {
            width: 35rem;
            height: 19rem;
            border-radius: 10px;
          }
          &__Title {
            color: $color3;
            font-size: 1.5rem;
          }
        }
        .backContent {
          background-color: $color1;

          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 2rem;
          transform: rotateY(-180deg);
          &__P {
            padding: 0.5rem 1rem;
            font-family: "cuprum";
            color: $color3;
            font-size: 1.5rem;
          }
          &__link {
            font-weight: bold;
            font-style: italic;
            font-size: 1rem;
            color: $color3;
          }
          .cardsIconsContainerLink {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            .iconContainer {
              display: flex;
              flex-direction: row;
              gap: 1rem;
              .cardsIcons {
                width: 4rem;
                height: 4rem;
              }
            }
          }
        }
      }
    }
  }
}

/* Large devices (desktops, ≥992px) */
@media (min-width: 992px) {
  .containerCards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    .cards {
      width: 50rem;
      height: 30rem;
      perspective: 1000px;
      cursor: pointer;
      position: relative;
      &.flipped .cards__frontContent {
        transform: rotateY(180deg);
      }

      &.flipped .cards__backContent {
        transform: rotateY(0deg);
      }

      .frontContent,
      .backContent {
        border-radius: 10px;
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        transition: transform 0.6s;
      }

      .frontContent {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 1rem;
        background-color: $color2;
        transform: rotateY(0deg);
        &__category {
          font-family: "cuprum";
          font-size: 1.4rem;
          text-decoration: underline;
          color: $color3;
        }
        &__Img {
          width: 40rem;
          height: 19rem;
          border-radius: 10px;
        }
        &__Title {
          color: $color3;
          font-size: 1.8rem;
        }
      }
      .backContent {
        background-color: $color1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        transform: rotateY(-180deg);
        &__P {
          padding: 0.5rem 1rem;
          font-family: "cuprum";
          color: $color3;
          font-size: 1.5rem;
        }
        &__link {
          font-weight: bold;
          font-style: italic;
          font-size: 1rem;
          color: $color3;
        }
        .cardsIconsContainerLink {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          .iconContainer {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            .cardsIcons {
              width: 4rem;
              height: 4rem;
            }
          }
        }
      }
    }
  }
}

/* Extra large devices (large desktops, ≥1200px) */
@media (min-width: 1024px) {
  .containerCards {
    &__carousel {
      padding-top: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5rem;
      .cards {
        width: 40rem;
        height: 30rem;
        perspective: 1000px;
        cursor: pointer;
        position: relative;

        &.flipped .cards__frontContent {
          transform: rotateY(180deg);
        }

        &.flipped .cards__backContent {
          transform: rotateY(0deg);
        }

        .frontContent,
        .backContent {
          border-radius: 10px;
          position: absolute;
          width: 100%;
          height: 100%;
          backface-visibility: hidden;
          transition: transform 0.6s;
        }

        .frontContent {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
          gap: 1rem;
          background-color: $color2;
          transform: rotateY(0deg);
          &__category {
            font-family: "cuprum";
            font-size: 1.4rem;
            text-decoration: underline;
            color: $color3;
          }
          &__Img {
            width: 35rem;
            height: 19rem;
            border-radius: 10px;
          }
          &__Title {
            color: $color3;
            font-size: 1.8rem;
          }
        }
        .backContent {
          background-color: $color1;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 2rem;
          transform: rotateY(-180deg);
          &__P {
            padding: 0.5rem 1rem;
            font-family: "cuprum";
            color: $color3;
            font-size: 1.5rem;
          }
          &__link {
            font-weight: bold;
            font-style: italic;
            font-size: 1rem;
            color: $color3;
          }
          .cardsIconsContainerLink {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            .iconContainer {
              display: flex;
              flex-direction: row;
              gap: 1rem;
              .cardsIcons {
                width: 4rem;
                height: 4rem;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1440px) {
}
