@import "../index.scss";
.skillsContainer {
  position: relative;
  z-index: 0;
  &__iconsTitleContain {
    animation: bounce 2s infinite ease-in-out;
  }
  &__iconsTitleContain:nth-child(1) {
    animation-delay: 0.2s;
  }
  &__iconsTitleContain:nth-child(2) {
    animation-delay: 0.4s;
  }

  &__iconsTitleContain:nth-child(3) {
    animation-delay: 0.6s;
  }

  &__iconsTitleContain:nth-child(4) {
    animation-delay: 0.8s;
  }

  &__iconsTitleContain:nth-child(5) {
    animation-delay: 1s;
  }

  &__iconsTitleContain:nth-child(6) {
    animation-delay: 1.2s;
  }

  &__iconsTitleContain:nth-child(7) {
    animation-delay: 1.4s;
  }

  &__iconsTitleContain:nth-child(8) {
    animation-delay: 1.6s;
  }

  @keyframes bounce {
    0%,
    100% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-40px);
    }
  }
  &__title {
    font-size: 1.5rem;
  }
}

@media (max-width: 575.98px) {
  .skillsContainer {
    padding: 0 0.5rem 3rem 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    margin-top: 2rem;
    &__iconsTitleContain {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      top: 1rem;
    }
    &__icons {
      width: 5rem;
      height: 6rem;
    }
    &__title{
      font-size: 1.6rem;
      font-family: "Montserrat";
      color: $color3;
    }
  }
}

/* Small devices (landscape phones, ≥576px) */
@media (min-width: 576px) {
  .skillsContainer {
    padding: 0 0.5rem 3rem 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    margin-top: 2rem;
    &__iconsTitleContain {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      top: 1rem;
    }
    &__icons {
      width: 5rem;
      height: 6rem;
    }
    &__title{
      font-size: 1.6rem;
      font-family: "Montserrat";
      color: $color3;
    }
  }
}

/* Medium devices (tablets, ≥768px) */
@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1440px) {
}
