@import "./Global.scss";

.skillsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  margin-top: 2rem;

  &__iconsTitleContain {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 1rem;
    animation: bounce 2s infinite ease-in-out;
  }

  &__icons {
    width: 6rem;
    height: 7rem;
  }
  &__iconsTitleContain:nth-child(1) {
    animation-delay: 0.2s;
  }
  &__iconsTitleContain:nth-child(2) {
    animation-delay: 0.4s;
  }

  &__iconsTitleContain:nth-child(3) {
    animation-delay: 0.6s;
  }

  &__iconsTitleContain:nth-child(4) {
    animation-delay: 0.8s;
  }

  &__iconsTitleContain:nth-child(5) {
    animation-delay: 1s;
  }

  &__iconsTitleContain:nth-child(6) {
    animation-delay: 1.2s;
  }

  &__iconsTitleContain:nth-child(7) {
    animation-delay: 1.4s;
  }

  &__iconsTitleContain:nth-child(8) {
    animation-delay: 1.6s;
  }

  @keyframes bounce {
    0%,
    100% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-40px);
    }
  }
  &__title {
    color: $text-white;
    font-size: 1.5rem;
  }
}

@media (max-width: 575.98px) {
  .skillsContainer {
    justify-content: center;
    gap: 3rem;
    padding: 1rem;
    margin-top: 0;

    &__iconsTitleContain {
      gap: 1rem;
    }

    &__icons {
      width: 2.5rem;
      height: 3.5rem;
    }

    bottom: 1rem;
    &__title {
      margin: 0;
      font-size: 0.8rem;
      color: $text-white;
    }
  }
}

/* Small devices (landscape phones, ≥576px) */
@media (min-width: 576px) {
  .skillsContainer {
    justify-content: center;
    padding: 1rem;

    &__iconsTitleContain {
      gap: 1rem;
    }

    &__title {
      margin: 0;
      font-size: 1.1rem;
    }
  }
}

/* Medium devices (tablets, ≥768px) */
@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1440px) {
}
