@import "../index.scss";
.hidden {
  opacity: 0;
}
.console-container {
  font-family: "Cuprum";
  font-size: 2.5rem;
  text-align: center;
  color: $color1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.console-underscore {
  display: inline-block;
  position: relative;
}
@media (max-width: 575.98px) {
.console-container{
  font-size: 1.35rem;
}
}
@media (min-width: 992px) {
  .console-container {
    font-size: 4rem;
  }
}
