@import url("https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
  font-family: "Luciole";
  src: url("../assets/fonts/Luciole-Regular/Luciole-Regular.eot"); /* IE9 Compat Modes */
  src: url("../assets/fonts/Luciole-Regular/Luciole-Regular.eot")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../assets/fonts/Luciole-Regular/Luciole-Regular.woff")
      format("woff"),
    /* Modern Browsers */
      url("../assets/fonts/Luciole-Regular/Luciole-Regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../assets/fonts//Luciole-Regular/Luciole-Regular.svg") format("svg"); /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

* {
  margin: 0;
  padding: 0;
}
#root {
  display: flex;
  flex-direction: column;
}
html{
  scroll-behavior: smooth;
}

$color0: #fff;
$color1: #e8eacc;
$color2: #8c9c7c;
$color3: #232826;
$color325: #23282600;
$color35: #232826;
$color4: #131114;
/*$color0: #FFF;
  $color1:#E8eacc;
  $color2:#8c9c7c;
  $color3:#232826;
  $color325:#23282600;
  $color35:#232826f5;
  $color4:#131114;*/
